		<footer>
			<div class="container-fluid">
				<hr />	2016 L. Stefanidis for 
				<a href="https://www.freecodecamp.com/" target="_blank">	freeCodeCamp </a>
			</div><!-- container-fluid -->
		</footer>

		</div><!-- container -->

	</body>

</html>
