<% include partials/header %>




		<div class="well wellmain">

			<h3 class="shadowtitletext"> Voting App: View, Vote, Make a Poll </h3>
			<br />

			<% if (!currentUser) { %>
			<p> Select a poll to see the results and vote, or <a href="/login">sign-in</a> to make a new poll. </p>
			<% } %>
			<% if (currentUser) { %>
			<p> Select a poll to see the results and vote, or <a href="/newpoll"> make a new poll </a>. </p>
			<% } %>

		</div>



		<div class="list-group">
			<% polls.forEach((poll) => { %>
				<a href="/polls/<%= poll.id %>" class="list-group-item"> <%= poll.title %> </a>
			<% }); %>
		</div>




<% include partials/footer %>
