<% include partials/header %>


	<div class="container">

		<h3> Voting App: View, Vote, Make a Poll </h3>
		<br />
		<p> Select a poll to see the results and vote, or sign-in to make a new poll. </p>
		<ul>
			<li> Add text </li>
			<li> List all polls</li>
		</ul>

		<br />		
		<br /><a href='/mypolls'>Go to My Polls</a>	

	</div>


<% include partials/footer %>

