<% include partials/header %>


	<div class="container">

		<h3> My Polls </h3>
		<br />
		<ul>
			<li> Add a new poll </li>
			<li> List my polls</li>
		</ul>
		<br />		
		<br /><a href='/'>Back to main route</a>

	</div>


<% include partials/footer %>

