<% include partials/header %>


	<div class="container">

		<h3> My Polls </h3>
		<br />
		
		<p> <a href="/newpoll">Make a new poll. </a> </p>
		<hr />
		<% mypolls.forEach((poll) => { %>
			<li> <a href="/polls/<%= poll.id %>"> <%= poll.title %> </a> </li>
		<% }); %>			
		
		
		<br />
		<br /><a href='/'>See all polls.</a>

	</div>


<% include partials/footer %>

