@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);


.container {
  margin: 0 auto;
  margin-top: 2em;
  background-color: #fff;
  color: #000;
  font-family: Cabin,Lobster, Ubuntu;
  font-size: 1.1em;
}

 /* option name in show.ejs */
#optionSpan {
	font-size: 1.6em;
}

#voteSelect, .voteInput {
	font-size: 1.1em;
	margin: 0.5em;
	background-color: #fff;
	color: #000;
}

footer {
	font-size: 0.8em;
}

